* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.nav-bar, .group1, .group2, .group3 {
    display: flex;
    justify-content: space-between;
    color: red;
    margin: 5px;
}

.body-div {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.menu-btn {
    border: none;
    outline: none;
}

.search-input {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    font-size: 25px;
    margin: 10px 0px 0px 60px;
    border: 2px solid rgb(154, 148, 148);
    padding: 10px;
}

.search-icon, .microphone {
    border: none;
    height: 50px;
    margin: 20px;
}

.group1 > div {
    margin: 0px 20px;
}

.side-bar-nav {
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    margin: 0px 30px;
}
.side-bar-nav > div {
    background-color: rgb(224, 227, 230);
    margin: 10px;
    font-size: 22px;
    border-radius: 10px;
    padding: 10px;
}

.preview-section {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 18px;
}

.preview-section > div {
    margin: 5px 20px;
}
.preview-section > img {
    border-radius: 10px;
}
iframe {
    border-radius: 10px;
}
.preview-title {
    font-weight: 700;
    margin-bottom: 20px;
    width: 300px;
}
